.roundElement	{
  border-radius: 35px 35px 35px 35px;
  -moz-border-radius: 35px 35px 35px 35px;
  -webkit-border-radius: 35px 35px 35px 35px;
  background-color: cadetblue;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  width: 20%;
  border: 3px solid darkgreen;
  padding: 1.5em 1.5em 1.5em 1.5em;
  -webkit-box-shadow: 2px 2px 32px -1px #000000; 
  box-shadow: 2px 2px 32px -1px #000000;
  overflow-wrap: break-word;
}

